.grid{

    /* margin-left: 15%; */
    font-size: 0;
    margin-top:5%;
    display: flex;
    flex-direction: column-reverse;


}
.row{

    margin: auto;
    display: flex;
    /* height:auto; */
    /* flex-shrink: 1; */
}
.nav-container{
    background-color: rgb(106, 163, 216);
    width:100%;
    max-width:1700px;
    display:grid;
    /* flex-direction: column; */
    grid-template-columns: .8fr auto;
    align-items: center;
    margin:0 auto;
    /* max-width: 1700px; */
}
.title{
    padding-left: 50px;
    justify-self: center;
}
.buttons{
    justify-content: center;
    display:grid;
    width:100%;
    grid-template-columns: repeat(4,auto);
}
.btn{
    font-weight: bold;
    color:white;
    /* width:250px; */
    /* width:20%; */
    /* line-height: 0.1em; */
    margin-left: 1em;
    font-size: 23px;
    /* background-color: rgb(255, 81, 81); */
    background-color: rgba(255, 81, 81, 0);
    /* text-decoration: none; */
    border:none;
    /* border-radius: 7px;
    border: solid 3px; */
    /* border-color: rgb(194, 63, 63); */

}
.btn:hover{
    transition: all .4s ease;
    color:yellow;
    /* background-color: rgb(250, 136, 136); */
    cursor: pointer;
}
